body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: radial-gradient(circle at top right, #000, #172714);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: black;
  color: #87fc9f;
  padding: 15px 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 255, 100, 0.3);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #87fc9f;
  font-weight: bold;
}

.card {
  background: #121212;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  max-width: 500px;
  text-align: center;
  border: 1px solid #058d04;
  box-shadow: 0 0 15px rgba(8, 141, 10, 0.4);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: linear-gradient(90deg, #048d16, #87fc9f, #048d12);
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

footer {
  margin-top: auto;
  background: black;
  padding: 10px;
  color: #87fc9f;
  text-align: center;
  font-size: 0.9em;
}

.install-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #058d04;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
